@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Mono', monospace;
    /* height: 100vh; */
}

header {
    margin: 0 150px;
    display: flex;
    flex-flow: column nowrap;
}

.hup, .hdown, .hright {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #777;
}

.logo {
    height: 100px;
    width: fit-content;
}

.logo img {
    display: block;
    height: 100%;
    width: 100%;
    filter: brightness(0%);
}

.hcontact {
    display: flex;
    flex-flow: row wrap;
    gap: 35px;
}

.email, .phone {
    font-size: 0.85em;
}

.email p, .phone p, .hleft a:any-link  {
    color: #777;
    font-size: 0.9em;
    text-decoration: none;
}

.hcontact a:any-link{
    color: black;
    text-decoration: none;
    display: block;
}

.hcontact a:any-link:hover{
    text-decoration: underline;
}

.hdown {
    border: none;
    padding: 0.5em 0;
}

.hleft a:any-link:hover {
    color: black;
}

.hleft a {
    padding: 0 15px;
}

.hright {
    flex-wrap: wrap;
    gap: 5px;
    border: none;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid black;
    margin: 0 2px;
}

.social img {
    display: block;
    padding: 3px;
    height: 25px;
    width: 25px;
}

.social:hover {
    background-color: #ddd;
}

main {
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
}


.title {
    margin: 10px 50px;
    margin: 10px 100px;

    padding: 30px 50px;
    background-color: #eee;

    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
}

.title h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    font-weight: 100;
    line-height: 1.2;
}

.explain {
    text-align: justify;
    font-size: 1.1em;
    color: #555;
    font-family: 'Roboto Mono', monospace;
    padding: 1em 3em;
}

.title ul {
    color: #555;
    padding: 0 100px;
}

.title ul li {
    padding: 10px 0;
}

.images {
    /* margin: 10px 10em; */
    margin: 10px 100px;
    /* padding: 30px 0; */
    position: relative;
}

  /* Hide the images by default */
  .bigimg {
    display: none;
  }

  .bigimg img {
    width: 100%;
    height: 90vh;
    display: block;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 35px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    
    position: absolute;
    bottom: 9.2em;
    width: 100%;

    z-index: 2;
  }

  .caption-container a:any-link {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 1.3em;
    color: #333;
    font-family: 'Poppins', sans-serif;
    word-spacing: 2px;
    letter-spacing: 1px;
  }

  .caption-container:hover {
    background-color: rgba(7, 7, 7, 0.8);
    transition: 0.7s;
  }

  .caption-container:hover a:any-link {
    color:#bbb;
    transition: 0.7s;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
    height: 9em;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
    transition: 0.7s;
  }

footer {
    margin: 0 150px;
    display: flex;
    flex-flow: column nowrap;
}

.footup, .footdown, .footcontact {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.footdown {
    border-top: 1px solid #555;
    padding: 20px 0;
}

.footlogo img {
    width: 170px;
    height: auto;
}

.footdown {
    font-size: 0.8em;
    color: #555;
}

.footdown a:any-link {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 1.1em;
}

.footdown a:any-link:hover {
    text-decoration: underline;
}

.upbot button{
    z-index: 2;
    position: fixed;
    bottom: 70px;
    right: 50px;

    border: 0;
    border-radius: 50%;
    background-color: transparent;
}

.upbot button:hover {
    /* background-color: #bbb; */
    /* border: 1px solid #bbb; */
    box-shadow: 0px 2px 15px -2px #555;

}

.upbot a:any-link {
    height: 60px;
    width: 50px;
    display: block;
    text-decoration: none;
    color: black;
    font-size: 2.5em;
    font-weight: 800;
}

@media screen and (max-width:1024px) {
    main .title {
        font-size: 0.9em;
    }

    main .title h1 {
        font-size: 2.3em;
    }

    .bigimg img {
        height: 70vh;
    }

    .column img {
        height: 100%;
    }

    .caption-container {     
        bottom: 6em;
        width: 100%;
    }
    
    main {
        gap: 20px;
    }

    .explain {
        font-size: 1em;
    }
}

@media screen and (max-width:900px) {
    body {
        display: flex;
        flex-flow: column nowrap;
        gap: 10px;
    }
    
    header, .title, footer {
        margin: 0 50px;
    }

    .title h1 {
        line-height: 1;
    }

    .title{
        gap: 5px;
    }

    header, footer {
        margin: 0 10px;
        font-size: 0.8em;
    }

    .social {
        width: 20px;
        height: 20px;
    }
    
    .social img {
        height: 20px;
        width: 20px;
    }

    .logo, .footlogo img {
        height: 80px;
        width: fit-content;
    }

    .upbot button{
        bottom: 120px;
        right: 50px;
    }

    .images {
        margin: 0 20px;
    }

    .caption-container {     
        bottom: 5.4em;
        width: 100%;
    }

    .explain {
        padding: 0.5em 0em;
    }
    
    .title ul {
        padding: 0 30px;
    }
}


@media screen and (max-width:650px) {
    .caption-container {     
        bottom: 4.4em;
        width: 100%;
    }

    .bigimg img {
        height: 60vh;
    }

    .column img {
        height: 90%;
    }

    .upbot a:any-link {
        height: 45px;
        width: 35px;
        font-size: 2em;
    }

    .caption-container a:any-link {
        font-size: 1em;
    }

    /* .title {
        padding: 30px 50px;
    }

    .title h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 3em;
        font-weight: 100;
        line-height: 1.2;
    }

    .explain {
        text-align: justify;
        font-size: 1.1em;
        color: #555;
        font-family: 'Roboto Mono', monospace;
        padding: 1em 3em;
    } */

}
